.swiper {
}
.swiper-wrapper {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 2px solid white;
  border-right: 2px solid white;
  height: 300px;
}

.swiper-slide__python {
  background-color: #3669a1;
}

.swiper-pagination-bullet-active {
  background-color: blue !important;
  border: 2px solid white;
}

.swiper-button-prev {
  color: blue;
  font-weight: 700;
}

.swiper-button-next {
  color: yellow;
  font-weight: 700;
}
